<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982848442527-os5jmgg4bo93adadrutcrbgeglu8vemt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982848442527-os5jmgg4bo93adadrutcrbgeglu8vemt</string>
	<key>API_KEY</key>
	<string>AIzaSyD3i1hriN_9qa6IcvpBu7LC91-2KswwpNE</string>
	<key>GCM_SENDER_ID</key>
	<string>982848442527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>health.ai</string>
	<key>PROJECT_ID</key>
	<string>osteodoc-b545a</string>
	<key>STORAGE_BUCKET</key>
	<string>osteodoc-b545a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982848442527:ios:faee1383494ed0fa97d2aa</string>
</dict>
</plist>